<h2>Zamówienia</h2>

<h4>Podatna wersja (IDOR)</h4>
<a href="/orders/vulnerable?orderId=2">Zobacz cudze zamówienie (podatna)</a>

<h4>Bezpieczna wersja</h4>
<a href="/orders/secure?orderId=2">Zobacz cudze zamówienie (bezpieczna)</a>
