<h2>Przekierowania</h2>

<h4>Wersja podatna</h4>
<a href="/redirect/vulnerable?redirectUrl=https://example.com">Kliknij tutaj (vulnerable)</a>

<h4>Wersja bezpieczna</h4>
<a href="/redirect/secure?redirectUrl=https://example.com">Kliknij tutaj (secure)</a>
